# Sql w Pytonie
* są różne metody dostania się do danych:
        - bezpośredni sterownik np. PostgreSql
        - SqlAlchemy
        - Pandas

In [15]:
import psycopg2

In [16]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
#engine = create_engine('postgresql+psycopg2://gymo:gymo@localhost:5432/postgres')

In [31]:
engine.table_names()

['users']

In [32]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
            self.name, self.fullname, self.password
        )

In [33]:
Base.metadata.create_all(engine)

In [34]:
adam = User(name='Adam', fullname='Adam Nowak', password='haslo')

In [35]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [36]:
session = Session()

In [37]:
session.add(adam)

In [38]:
session.commit()

In [39]:
session.query(User).all()

[<User(name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(name='Kamil', fullname='Kamil Pazik', password='haslo')>]

In [40]:
tomek = User(name='Tomek', fullname='Tomek Nowak', password='haslo')

In [41]:
tomek.fullname

'Tomek Nowak'

In [43]:
session.add(tomek)
session.commit()

In [44]:
tomek.id

3

In [45]:
ania = User(name='Anna', fullname='Anna Nowak', password='haslo')

In [46]:
ania.id

In [47]:
session.add(ania)
session.commit()

In [48]:
ania.id

4

## Zadanie z insertow
* Storz nowego uzytkownika z poziomu pythona
* Stworz nastepnego uzytkownika z poziomu SQL (INSERT)

In [53]:
# select 'Uzytkownik: ' || name as kolumna_user  from users;

In [54]:
session.query(User).all()

[<User(name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='Anna', fullname='Anna Nowak', password='haslo')>]

## Wydobywanie wpisów

In [55]:
session.query(User).filter(User.fullname.like('%Nowak')).all()

[<User(name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='Anna', fullname='Anna Nowak', password='haslo')>]

In [56]:
# select * from users
# where fullname like '%Nowak';