# Sql w Pytonie
* są różne metody dostania się do danych:
        - bezpośredni sterownik np. PostgreSql
        - SqlAlchemy
        - Pandas

In [15]:
import psycopg2

In [16]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
#engine = create_engine('postgresql+psycopg2://gymo:gymo@localhost:5432/postgres')

In [31]:
engine.table_names()

['users']

In [69]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return "<User(id='%d', name='%s', fullname='%s', password='%s')>" % (
            self.id, self.name, self.fullname, self.password
        )

In [70]:
Base.metadata.create_all(engine)

In [71]:
adam = User(name='Adam', fullname='Adam Nowak', password='haslo')

In [72]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [73]:
session = Session()

In [74]:
session.add(adam)

In [75]:
session.commit()

In [76]:
session.query(User).all()

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

In [40]:
tomek = User(name='Tomek', fullname='Tomek Nowak', password='haslo')

In [41]:
tomek.fullname

'Tomek Nowak'

In [43]:
session.add(tomek)
session.commit()

In [44]:
tomek.id

3

In [45]:
ania = User(name='Anna', fullname='Anna Nowak', password='haslo')

In [46]:
ania.id

In [47]:
session.add(ania)
session.commit()

In [48]:
ania.id

4

## Zadanie z insertow
* Storz nowego uzytkownika z poziomu pythona
* Stworz nastepnego uzytkownika z poziomu SQL (INSERT)

In [53]:
# select 'Uzytkownik: ' || name as kolumna_user  from users;

In [54]:
session.query(User).all()

[<User(name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='Anna', fullname='Anna Nowak', password='haslo')>]

## Wydobywanie wpisów

In [55]:
session.query(User).filter(User.fullname.like('%Nowak')).all()

[<User(name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='Anna', fullname='Anna Nowak', password='haslo')>]

In [56]:
# select * from users
# where fullname like '%Nowak';

In [57]:
session.query(User).all()

[<User(name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(name='Anna', fullname='Anna Nowak', password='haslo')>]

### And

In [ ]:
# select * from users
# where fullname like '%Nowak'
# and "name" = 'Tomek'
# and "password" = 'haslo'

In [59]:
import sqlalchemy
sqlalchemy.and_

In [85]:
from sqlalchemy import and_

In [86]:
session.query(User).filter().all()

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

In [91]:
from sqlalchemy import and_
rezultat=session.query(User).filter(and_(User.fullname.like('%Nowak'),User.name=='Adam',User.password=='haslo')).all()
print (rezultat)

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>, <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>, <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

## Or

In [90]:
from sqlalchemy import or_
rezultat=session.query(User).filter(or_(User.name=='Adam', User.name=='Tomek')).all()
print(rezultat)

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>, <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>, <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>, <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

# Pisanie Raw Sql (czysty sql)

In [78]:
session.query(User).from_statement("Select * from users").all()

/Users/kamil/code/datascience/venv/lib/python3.4/site-packages/sqlalchemy/sql/elements.py:4297: SAWarning: Textual SQL expression 'Select * from users' should be explicitly declared as text('Select * from users') (this warning may be suppressed after 10 occurrences)
  {"expr": util.ellipses_string(element)})

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

In [83]:
session.query(User).from_statement("Select * from users").all()

/Users/kamil/code/datascience/venv/lib/python3.4/site-packages/sqlalchemy/sql/elements.py:4297: SAWarning: Textual SQL expression 'Select * from users' should be explicitly declared as text('Select * from users') (this warning may be suppressed after 10 occurrences)
  {"expr": util.ellipses_string(element)})

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

In [84]:
session.query(User).from_statement("Select * from users where name='Adam'").all()

/Users/kamil/code/datascience/venv/lib/python3.4/site-packages/sqlalchemy/sql/elements.py:4297: SAWarning: Textual SQL expression 'Select * from users where...' should be explicitly declared as text('Select * from users where...') (this warning may be suppressed after 10 occurrences)
  {"expr": util.ellipses_string(element)})

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

In [92]:
from sqlalchemy import text

In [93]:
session.query(User).from_statement(text("Select * from users where name='Adam'")).all()

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

## Usuwanie wpisów z bazy danych

In [94]:
session.query(User).filter(User.password=='haslo').all()

[<User(id='1', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

In [95]:
session.query(User).filter(User.password=='haslo')

In [96]:
session.query(User).filter(User.password=='haslo').first()

In [98]:
session.query(User).filter(User.password=='hasfasdfasdfasdfaslo').all()

[]

In [99]:
zapiasane_query = session.query(User).filter(User.password=='haslo')

In [100]:
zapiasane_query.first()

In [101]:
dir(session.query(User).filter(User.password=='haslo'))

['_Query__all_equivs',
 '__class__',
 '__clause_element__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_adapt_all_clauses',
 '_adapt_clause',
 '_adapt_col_list',
 '_adapt_polymorphic_element',
 '_adjust_for_single_inheritance',
 '_attributes',
 '_autoflush',
 '_bind_mapper',
 '_clone',
 '_compile_context',
 '_compound_eager_statement',
 '_conditional_options',
 '_connection_from_session',
 '_correlate',
 '_criterion',
 '_current_path',
 '_distinct',
 '_enable_assertions',
 '_enable_eagerloads',
 '_enable_single_crit',
 '_entities',
 '_entity_zero',
 '_execute_and_instances',
 '_execution_options',
 '_filter_aliases',
 '_for_update_arg',
 '_from_obj',
 '_from_obj_alias',
 '_from_selectable',
 '_get_bind_args',
 '_get_condition',
 '_get_existing_condition',
 '_get_impl',
 '_get_options',
 '_group_by',
 '_has_mapper_entities',
 '_having',
 '_identity_lookup',
 '_invoke_all_eagers',
 '_join',
 '_join_entities',
 '_join_left_to_right',
 '_join_to_left',
 '_joinpath',
 '_joinpoint',
 '_joinpoint_zero',
 '_limit',
 '_mapper_adapter_map',
 '_mapper_entities',
 '_mapper_loads_polymorphically_with',
 '_mapper_zero',
 '_no_clauseelement_condition',
 '_no_criterion_assertion',
 '_no_criterion_condition',
 '_no_limit_offset',
 '_no_statement_condition',
 '_no_yield_per',
 '_offset',
 '_only_entity_zero',
 '_only_full_mapper_zero',
 '_only_load_props',
 '_only_return_tuples',
 '_options',
 '_order_by',
 '_orm_only_adapt',
 '_orm_only_from_obj_alias',
 '_params',
 '_polymorphic_adapters',
 '_populate_existing',
 '_prefixes',
 '_prepare_right_side',
 '_primary_entity',
 '_query_entity_zero',
 '_refresh_identity_token',
 '_refresh_state',
 '_reset_joinpoint',
 '_reset_polymorphic_adapter',
 '_select_args',
 '_select_from_entity',
 '_set_enable_single_crit',
 '_set_entities',
 '_set_entity_selectables',
 '_set_lazyload_from',
 '_set_op',
 '_set_select_from',
 '_should_log_debug',
 '_should_log_info',
 '_should_nest_selectable',
 '_simple_statement',
 '_statement',
 '_suffixes',
 '_update_joinpoint',
 '_values',
 '_version_check',
 '_with_current_path',
 '_with_hints',
 '_with_invoke_all_eagers',
 '_with_labels',
 '_with_options',
 '_yield_per',
 'add_column',
 'add_columns',
 'add_entity',
 'all',
 'as_scalar',
 'autoflush',
 'column_descriptions',
 'correlate',
 'count',
 'cte',
 'delete',
 'dispatch',
 'distinct',
 'enable_assertions',
 'enable_eagerloads',
 'except_',
 'except_all',
 'execution_options',
 'exists',
 'filter',
 'filter_by',
 'first',
 'from_self',
 'from_statement',
 'get',
 'group_by',
 'having',
 'instances',
 'intersect',
 'intersect_all',
 'join',
 'label',
 'lazy_loaded_from',
 'limit',
 'logger',
 'merge_result',
 'offset',
 'one',
 'one_or_none',
 'only_return_tuples',
 'options',
 'order_by',
 'outerjoin',
 'params',
 'populate_existing',
 'prefix_with',
 'reset_joinpoint',
 'scalar',
 'select_entity_from',
 'select_from',
 'selectable',
 'session',
 'slice',
 'statement',
 'subquery',
 'suffix_with',
 'union',
 'union_all',
 'update',
 'value',
 'values',
 'whereclause',
 'with_entities',
 'with_for_update',
 'with_hint',
 'with_labels',
 'with_lockmode',
 'with_parent',
 'with_polymorphic',
 'with_session',
 'with_statement_hint',
 'with_transformation',
 'yield_per']

In [103]:
#select count(*) from users
# --where fullname like '%Nowak';

In [102]:
zapiasane_query.count()

6

In [104]:
zapiasane_query = session.query(User).filter(User.password=='haslo')

In [105]:
uzytkownik_do_uzuniecia = zapiasane_query.first()

In [106]:
uzytkownik_do_uzuniecia

In [107]:
session.delete(uzytkownik_do_uzuniecia)

In [108]:
session.commit()

## Zadania
* Zmien metode __repr__ na modelu User aby wyswietlalo id
* Sprawdz ilosc wpisow w tabelke (SQL + Python)
* Usun 2 uzytkownikow (1 w SQL, 1 w Python)
* Wyswietl liste uzytkowniko

In [110]:
z = session.query(User)

In [111]:
session.query(User).filter(User.password=='haslo').all()

[<User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>]

# Sortowanie

In [114]:
session.query(User).filter(User.password=='haslo').order_by(User.id.desc()).all()

[<User(id='6', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='5', name='Adam', fullname='Adam Nowak', password='haslo')>,
 <User(id='4', name='Anna', fullname='Anna Nowak', password='haslo')>,
 <User(id='3', name='Tomek', fullname='Tomek Nowak', password='haslo')>,
 <User(id='2', name='Kamil', fullname='Kamil Pazik', password='haslo')>]